<div id="body_container">

  <div id="right_container">

  </div>
  <div style="padding:20px 15px 30px 15px; background-color: pink">
    <h1>{{user.name}} <img src="{{user.avatar}}" alt=""></h1>
    <h2>{{user.email}}</h2>
    <h2>{{user.phone}}</h2>
    <h2>{{user.gender}}</h2>

    <div class="servicecolumnzone">
      <div class="servicecolumn1">
        <div>
          <h5>
            <button (click)="checkEditt()">Edit</button>
            <button (click)="checkBack()">Back</button>
          </h5>
          <img src="assets/images/ico1.png" alt="" class="abouticon"/>Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius,
        </div>
        <div *ngIf="checkEdit">
          <form (ngSubmit)="edit()">
            <table>
              <tr>
                <th>Name</th>
                <td><input type="text" name="name" [(ngModel)]="user.name"></td>
              </tr>
              <tr>
                <th>Gender</th>
                <td>
                  <select name="gender" [(ngModel)]="user.gender">
                    <option selected="selected" value="Nam">Male</option>
                    <option value="Nu">Female</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Phone</th>
                <td><input type="text" name="phone" [(ngModel)]="user.phone"></td>
              </tr>
              <tr>
                <th>Avatar</th>
                <td><input type="file" (change)="selectAvatar($event)"></td>
                <td><img src="{{urlImage}}" width="50px" height="50px" alt=""></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="submit" value="Save"></td>
              </tr>
            </table>
          </form>
        </div>


        <div class="clear"></div>
      </div>
      <div class="servicecolumn2">
        <div>
          <h5>Service 2</h5>
        </div>
        <div class="clear"></div>
        <ul>
          <li class="a"><input type="radio" name="radio" value="showListUserBook" (click)="checkBox($event)">Show List
            User Book
          </li>
          <li class="b"><input type="radio" name="radio" value="showListBookProvider" (click)="checkBox($event)">Show
            List Book Provider
          </li>
          <li class="c">
            <button type="button" value="pending" (click)="getAllBookByStatus('pending')">Show List Book Provider
              "PENDING"
            </button>
          </li>
          <li class="c">
            <button type="button" value="received" (click)="getAllBookByStatus('received')">Show List Book Provider
              "RECEIVED"
            </button>
          </li>
          <li class="c">
            <button type="button" value="complete" (click)="getAllBookByStatus('complete')">Show List Book Provider
              "COMPLETE"
            </button>
          </li>
<!--          -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
          <li class="c">
            <button type="button" value="pending" (click)="getAllStatusBook('pending')">Show list of people I book "PENDING
            </button>
          </li>

          <li class="c">
            <button type="button" value="received" (click)="getAllStatusBook('received')">Show list of people I book "RECEIVED"
            </button>
          </li>

          <li class="c">
            <button type="button" value="complete" (click)="getAllBookByStatus('complete')">Show list of people I book "COMPLETE"
            </button>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
      <!--      <div class="servicecolumn1">-->
      <div class="contain" style="text-align: center">
        <h3>{{title}}</h3>
        <div class="clear"></div>

<!--        Hiển thị list order mình book người ta-->

        <table style="margin: auto" border="1" *ngIf="orders.length > 0 && isShowFormListUserBook">
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Date book</th>
            <th>Status</th>
            <th>Avatar</th>
            <th>Detail</th>
          </tr>
          <tr *ngFor="let order of orders">
            <td>{{order.userProvider.name}}</td>
            <td>{{order.userProvider.gender}}</td>
            <td>{{order.date}}</td>
            <td><img src="{{order.userProvider.avatar}}" width="40px" height="40px" alt=""></td>
            <td><a routerLink="/order/order-info/{{order.id}}">Details</a></td>
          </tr>
        </table>

<!--        hiển thị list order người ta cho mình -->

        <table style="margin: auto" border="1" *ngIf="userOrders.length > 0 && isShowFormBookProvider">
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Date book</th>
            <th>Status</th>
            <th>Avatar</th>
            <th>Detail</th>
          </tr>
          <tr *ngFor="let order of userOrders">
            <td>{{order.user.name}}</td>
            <td>{{order.user.gender}}</td>
            <td>{{order.date}}</td>
            <td><img src="{{order.user.avatar}}" width="40px" height="40px" alt=""></td>
            <td><a routerLink="/order/order-info/{{order.id}}">Details</a></td>
          </tr>
        </table>

<!--        hiển thị list order người ta book mình theo trạng thái-->

        <table style="margin: auto" border="1"
               *ngIf="ordersUser.length > 0 && isShowFormBookProvider && isShowFormListUserBook">
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Date book</th>
            <th>Status</th>
            <th>Avatar</th>
            <th>Detail</th>
          </tr>
          <tr *ngFor="let order of ordersUser">
            <td>{{order.userProvider.name}}</td>
            <td>{{order.userProvider.gender}}</td>
            <td>{{order.date}}</td>
            <td><img src="{{order.userProvider.avatar}}" width="40px" height="40px" alt=""></td>
            <td><a routerLink="/order/order-info/{{order.id}}">Details</a></td>
          </tr>
        </table>


        <table style="margin: auto" border="1"
               *ngIf="userOrders1.length > 0 && isShowFormBookProvider && isShowFormListUserBook">
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Date book</th>
            <th>Status</th>
            <th>Avatar</th>
            <th>Detail</th>
          </tr>
          <tr *ngFor="let order of userOrders1">
            <td>{{order.user.name}}</td>
            <td>{{order.user.gender}}</td>
            <td>{{order.date}}</td>
            <td><img src="{{order.user.avatar}}" width="40px" height="40px" alt=""></td>
            <td><a routerLink="/order/order-info/{{order.id}}">Details</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

