<div id="body_container">

  <div id="right_container">

  </div>
  <div style="padding:20px 15px 30px 15px; background-color: pink">
    <h1>{{user.name}} <img src="{{user.avatar}}" alt=""></h1>
    <h2>{{user.email}}</h2>
    <h2>{{user.phone}}</h2>
    <h2>{{user.gender}}</h2>
    <div *ngIf="role == 'ROLE_PROVIDER'">
      <h2>CCDV: {{user.isStatusProvider}}</h2>

      <h3>{{title_status}}</h3>

      <hr>
    <h4>Bật/Tắt trạng thái CCDV</h4>
      <button value="active" (click)="changeStatusProvider('active')">Đang hoạt động</button>
      <button value="activate" (click)="changeStatusProvider('busy')">Đang bận</button>
      <button value="activate" (click)="changeStatusProvider('disable')">Đã tắt</button>
    </div>

    <div class="servicecolumnzone">
      <div class="servicecolumn1">
        <div>
          <h5>
            <button (click)="checkEditt()">Sửa</button>
            <button (click)="checkBack()">Thoát</button>
          </h5>
          <img src="assets/images/ico1.png" alt="" class="abouticon"/>Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius,
        </div>
        <div *ngIf="checkEdit">
          <form (ngSubmit)="edit()">
            <table>
              <tr>
                <th>Tên</th>
                <td><input type="text" name="name" [(ngModel)]="user.name"></td>
              </tr>
              <tr>
                <th>Giới Tính</th>
                <td>
                  <select name="gender" [(ngModel)]="user.gender">
                    <option selected="selected" value="Nam">Male</option>
                    <option value="Nu">Female</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>Số Điện Thoại</th>
                <td><input type="text" name="phone" [(ngModel)]="user.phone"></td>
              </tr>
              <tr>
                <th>Ảnh Đại diện</th>
                <td><input type="file" (change)="selectAvatar($event)"></td>
                <td><img src="{{urlImage}}" width="50px" height="50px" alt=""></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="submit" value="Save"></td>
              </tr>
            </table>
          </form>

        </div>


        <div class="clear"></div>
      </div>
      <div class="servicecolumn2">
        <div>
          <h5>Dịch vụ 2</h5>
        </div>
        <div class="clear"></div>
        <ul>
          <li class="a"><input type="radio" name="radio" value="showListUserBook" (click)="checkBox($event)">Hiển thị Sách của Người dùng
          </li>
          <li class="b"><input type="radio" name="radio" value="showListBookProvider" (click)="checkBox($event)">Hiển thị danh sách nhà cung cấp
          </li>
          <li class="c">
            <button type="button" value="pending" (click)="getAllBookByStatus('pending')">Hiển thị danh sách nhà cung cấp "Chưa giải quyết"
            </button>
          </li>
          <li class="c">
            <button type="button" value="received" (click)="getAllBookByStatus('received')">Hiển thị Danh sách Nhà cung cấp Sách "ĐÃ NHẬN"
            </button>
          </li>
          <li class="c">
            <button type="button" value="complete" (click)="getAllBookByStatus('complete')">Hiển thị danh sách nhà cung cấp sách HOÀN THÀNH
            </button>
          </li>
<!--          -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
          <li class="c">
            <button type="button" value="pending" (click)="getAllStatusBook('pending')">Hiển thị danh sách những người tôi đặt chỗ
              "CHƯA GIẢI QUYẾT"</button>
          </li>

          <li class="c">
            <button type="button" value="received" (click)="getAllStatusBook('received')">Hiển thị danh sách những người tôi đặt chỗ "ĐÃ ĐƯỢC NHẬN"
            </button>
          </li>

          <li class="c">
            <button type="button" value="complete" (click)="getAllBookByStatus('complete')">Hiển thị danh sách những người tôi đặt chỗ "HOÀN THÀNH"</button>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
      <!--      <div class="servicecolumn1">-->
      <div class="contain" style="text-align: center">
        <h3>{{title}}</h3>
        <div class="clear"></div>

<!--        Hiển thị list order mình book người ta-->

        <table style="margin: auto" border="1" *ngIf="orders.length > 0 && isShowFormListUserBook">
          <tr>
            <th>Tên</th>
            <th>Giới tính</th>
            <th>Ngày đặt</th>
            <th>Ảnh Đại diện</th>
            <th>Chi tiết</th>
          </tr>
          <tr *ngFor="let order of orders">
            <td>{{order.userProvider.name}}</td>
            <td>{{order.userProvider.gender}}</td>
            <td>{{order.date}}</td>
            <td><img src="{{order.userProvider.avatar}}" width="40px" height="40px" alt=""></td>
            <td><a routerLink="/order/order-info/{{order.id}}">Chi tiết</a></td>
          </tr>
        </table>

<!--       list order người ta book mình -->

        <table style="margin: auto" border="1" *ngIf="userOrders.length > 0 && isShowFormBookProvider">
          <tr>
            <th>Tên</th>
            <th>Giới tính</th>
            <th>Ngày đặt</th>
            <th>Ảnh đại diện</th>
            <th>Chi tiết</th>
          </tr>
          <tr *ngFor="let order1 of userOrders">
            <td>{{order1.user.name}}</td>
            <td>{{order1.user.gender}}</td>
            <td>{{order1.date}}</td>
            <td><img src="{{order1.user.avatar}}" width="40px" height="40px" alt=""></td>
            <td><a routerLink="/order/order-info/{{order1.id}}">Chi tiết</a></td>
          </tr>
        </table>

<!--// list order mình book người ta theo trạng thái-->

        <table style="margin: auto" border="1"

               *ngIf="ordersUser.length > 0 && isShowForm1 == true">
          <tr>
            <th>Tên</th>
            <th>Giới tính</th>
            <th>Ngày đặt</th>
            <th>Ảnh đại diện</th>
            <th>chi tiết</th>
          </tr>
          <tr *ngFor="let order2 of ordersUser">
            <td>{{order2.userProvider.name}}</td>
            <td>{{order2.userProvider.gender}}</td>
            <td>{{order2.date}}</td>
            <td><img src="{{order2.userProvider.avatar}}" width="40px" height="40px" alt=""></td>
            <td><a routerLink="/order/order-info/{{order2.id}}">Chi tiết</a></td>
          </tr>
        </table>


        <table style="margin: auto" border="1"
               *ngIf="userOrders1.length > 0 && isShowForm2 == true">
          <tr>
            <th>Tên</th>
            <th>Giới tính</th>
            <th>Ngày đặt </th>
            <th>Ảnh đại diện</th>
            <th>Chi tiết</th>
          </tr>
          <tr *ngFor="let order3 of userOrders1">
            <td>{{order3.user.name}}</td>
            <td>{{order3.user.gender}}</td>
            <td>{{order3.date}}</td>
            <td><img src="{{order3.user.avatar}}" width="40px" height="40px" alt=""></td>
            <td><a routerLink="/order/order-info/{{order3.id}}">Chi tiết</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

