ul li:first-child{
  text-align: center;
  margin-left: 15%;
}


.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
.avatar{
  height: 1rem;
  border-radius: 50%;

}
